{{>header}}
<!-- COLLAPSABLE CUSTOM SIGN PANEL -->
<!-- PANEL 1 -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Happy BIrthday Options
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <ul>
          <li><img class="customSigns" src="./assets/images/customized-images/pinkAndBlackLetterH.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/greenAndBlueLetterH.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/blueAndWhiteLetterH.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/pokeadotGreenAndPinkLetterH.jpg" alt="Apple ong Book Sign"></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- PANEL 2 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
          aria-controls="collapseTwo">
          Color Options
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li><img class="customSigns" src="./assets/images/customized-images/blackNumber0.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/blackNumber8.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/pinkLetterZ.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/pinkNumber8.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/blueLetterW.jpg" alt="Apple ong Book Sign"></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- PANEL 3 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
          aria-controls="collapseThree">
          Sports/Activities
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
         <ul>
          <li><img class="customSigns" src="./assets/images/customized-images/baseBall.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/basketBall.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/golfBall.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/mudicNote.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/football.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/soccer.jpg" alt="Apple ong Book Sign"></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- PANEL 4 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
          aria-controls="collapseFour">
          Anniversary/Wedding
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTFour">
      <div class="panel-body">
        <ul>
          <li><img class="customSigns" src="./assets/images/customized-images/twoWhiteWineGlasses.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/oneRedWineGlass.jpg" alt="Apple ong Book Sign"></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- PANEL 5 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
          aria-controls="collapseFive">
          Graduation
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTFive">
      <div class="panel-body">
        <ul>
          <li><img class="customSigns" src="./assets/images/customized-images/graduationCap.jpg" alt="Apple ong Book Sign"></li>
         </ul>
      </div>
    </div>
  </div>
  <!-- PANEL 6 -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
           Other Fun Ideas
         </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <ul>
          <li><img class="customSigns" src="./assets/images/customized-images/sunglassesEmoji.jpg" alt="Sunglasses Emoji"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/heartEyesEmoji.jpg" alt="Heart Eyes Emoji"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/blowKissEmoji.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/appleOnBooks.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/pinkHeart.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/tiara.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/pinkHighHeel.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/blackPurse.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/pinkCupCake.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/blueCupCake.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/balloons.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/pinkFlower.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/blackBalloons.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/bird.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/carKey.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/hashTag.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/questionMark.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/beerMugs.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/fish.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/longSkinnyFish.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/deer.jpg" alt="Apple ong Book Sign"></li>
          <li><img class="customSigns" src="./assets/images/customized-images/redBluePinkStars.jpg" alt="Apple ong Book Sign"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{>footer}}