{{>header}}
<div class="container pageContent">
  <!-- COLLAPSABLE CUSTOM SIGN PANEL -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- PANEL 1 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
            aria-controls="collapseOne">
           EVENTS
        </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <p>Birthdays</p>
          <p>Prom/Homecoming</p>
          <p>Anniversaries</p>
          <p>Weddings</p>
          <p>​Celebrations</p>
          <p>​Baby Showers</p>
          <p>Business Events</p>
          <p>Real Estate Open House</p>
          <p>Restaurant Special Events</p>
          <p>School Events</p>
          <p>​Fundraisers</p>
      </div>
    </div>
  </div>
    <!-- PANEL 2 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          BIRTHDAYS
        </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <ul>
            <p>Happy 20th Birthday {name}!</p>
            <p>Happy Sweet 16 {name}!</p>
            <p>How Fun! {name} Is 1!</p>
            <p>Oh No! {name} Is The Big 40!</p>
            <p>{name} Is Looking Great at 28, 38, 48, 58.. </p>
            <p>Party On (name)! </p>
            <p>Happy Birthday {name} is 1!</p>
            <p>Celebrating 30 Years of {name}! </p>
            <p>Best Fishes On Your Birthday! </p>
            <p>{name} is Hot & Flashy at 50!</p>
            <p>50 is 5 Perfect 10's!  We {heart} {name}! </p>
            <p>Still Looking Fine {name} is 39!></p>
            <p>Lordy Lordy!  {name} Is 40!</p>
            <p>{name} Is Over The Hill </p>
            <p>{name} Is 50 And Fabulous! </p>
            <p>Fishing You A Happy Birthday!</p>
            <p>It's The Big One!</p>
            <p>Scream! {name} is 13!</p>
            <p></p>Congratulations {mom's name}!</p>
          </ul>
        </div>
      </div>
    </div>
    <!-- PANEL 3 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
          ANNIVERSARIES
        </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <p>50 Cheers For 50 Years!</p>
          <p>Happy {number}th Anniversary!</p>
          <p>Congrats on {number} Years!</p>
          <p>{number} Years and Still Going Strong!</p>
          <p>Happy Anniversary Mom & Dad!</p>
          <p>Cheer's To Many More Years!</p>
      </div>
    </div>
  </div>
  <!-- PANEL 4 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
            aria-controls="collapseFour">
          WEDDINGS & CELEBRATIONS
        </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <p>Celebrating {name} & {name} {wedding date} </p>
          <p>{name} & {name} I DO! {wedding date}</p>
          <p>Best Wishes {name} & {name} {wedding date}</p>
          <p>Will You Marry Me {name}?</p>
      </div>
    </div>
  </div>
  <!-- PANEL 5 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
            aria-controls="collapseFour">
           SHOWERS & BIRTHS
        </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <p>It's A Boy/Girl! {name}</p>
          <p>Let's Shower {name} With Love!</p>
          <p>It's The Big One!</p>
          <p>Congratulations {mom's name}!</p>
      </div>
    </div>
  </div>
  <!-- PANEL 6 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false"
            aria-controls="collapseSix">
           PROM & HOMECOMING
        </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          <p>Will you go to prom/Marry Me? (Name)</p>
          <p>Be My Prom/Homecoming Date {name}?  </p>
          <p>The After Prom Party is Here!</p>
          <p></p>
      </div>
    </div>
  </div>
  <!-- PANEL 7 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
            aria-controls="collapseSeven">
           HOLIDAYS
        </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="panel-body">
          <p>Happy New Year's (year)!</p>
          <p>Happy Valentines Day!</p>
          <p>Happy Mother's/Father's Day!</p>
          <p>World's Greatest Dad/Mom!</p>
          <p>Merry Christmas!</p>
      </div>
    </div>
  </div>
  <!-- PANEL 8 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingEight">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false"
            aria-controls="collapseEight">
           GRADUATION
        </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
        <div class="panel-body">
          <p>Graduations {name}</p>
          <p>Congrats Grads (class of)!</p>
          <p>Congrats {name} (class of)!</p>
          <p>{college name} Bound! </p>
          <p></p>
      </div>
    </div>
  </div>
  <!-- PANEL 9 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingNine">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false"
            aria-controls="collapseNine">
           SCHOOL
        </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
        <div class="panel-body">
          <p>Baseball, Football, Swim, Band, Cheer, Dance, Choir, Golf, Basketball, Volleyball</p>
          <p>For Garage Sales/Estate Sales! </p>
          <p>Welcome Back Students! </p>
          <p>Registration/Donations</p>
          <p>Our Cheerleaders Rock! </p>
          <p>Congrats State/District Champs!</p>
          <p>We {heart} Our Teachers!</p>
          <p>Happy Birthday {teacher's name}!</p>
          <p>Coach {name} Rocks!</p>
          <p>{school name} Baseball/Football, etc #1!</p>
          <p>Thank You Coach {name}!  </p>
          <p></p>
          <p></p>
      </div>
    </div>
  </div>
  <!-- PANEL 10 -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTen">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false"
            aria-controls="collapseTen">
           OTHER
        </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
        <div class="panel-body">
          <p>Congrats (your name)    * #1 Cheerleader/#1 baseball player (your name) </p>
          <p>For Restaurants:Announce new product; Now Open!; Happy Hour!; Grand Opening!; Wine Tasting!</p>
          <p>For Stores:  Special Promotions!</p>
          <p>Now Leasing! Excellent School's!</p>
          <p>Auction/Gala Tonight!</p>
          <p>Welcome Home (your name) </p>
          <p>Casino Party:</p>
          <p>Way to GO {name}</p>
          <p>Bunko Party!</p>
      </div>
    </div>
  </div>
  
</div>
{{>footer}}