<body>
    {{>header}}
    <div class="container pageContent">
        <!-- PORTFOLIO IMAGE SLIDER -->
        <div id="thisCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item item active">
                    <img class="d-block img-fluid sliderPics" src="./assets/images/image11.png" alt="First slide">
                </div>
                <div class="carousel-item item">
                    <img class="d-block img-fluid sliderPics" src="./assets/images/image22.JPG" alt="Second slide">
                </div>
                <div class="carousel-item item">
                    <img class="d-block img-fluid sliderPics" src="./assets/images/image33.JPG" alt="Third slide">
                </div>
                <div class="carousel-item item">
                    <img class="d-block img-fluid sliderPics" src="./assets/images/image44.JPG" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#thisCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
            <a class="carousel-control-next" href="#thisCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
        <!-- CONtACT US & AFFELIATES -->
        <div class="container">
            <div class="row">
                <div class="column-md-12"><h1 class="skipTheCard">Skip the Card, Bling Up the Yard!</h1>
                </div>   
            </div>
        <div class="container" id="contact-and-affiliates">
            <div class="row">
                <div class="column-md-6 contactUs-column">
                    <h3 id="contact-us">Contact Us</h3>
                    <p><i class="fa fa-phone-square" aria-hidden="true"> (832)257-7843</i></p>
                    <p><i class="fa fa-envelope" aria-hidden="true">     kingwoodhumbleyardbling@gmail.com</i></p>
                </div>
                <div class="column-md-6 affiliates-column">
                    <h3 id="affiliates">Affiliates</h3>
                    <p id="woodlands">The Woodlands/Spring Yard Bling</p>
                    <p id="forInformation">Kingwood/Humble is an affiliate of The Woodlands/Spring Yard Bling (281)723-3621.
                </div>
            </div>   
        </div>
    </div>
    
    
    {{>footer}}
</body>