{{>header}} {{!-- Name email address zip gate code request color gender policiesCheck --}}
<div class="container pageContent">
  <form class="container" id="orderForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input placeholder="Name" type="text" class="form-control" id="formName">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <input type="color" class="form-control" value="#FC1F8E" id="formColor">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input placeholder="Email Address" type="email" class="form-control" id="formEmail" "Your e-mail address">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <input placeholder="Phone Number" type="tel" class="form-control" id="formPhone" "Your phone number">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->
    {{!--
    <div class="row"> --}}
      <!-- Outer row for group -->
      <div class="row">
        <!-- Row with top address and special contains other rows -->
        <div class="col-md-6">
          <!-- Col with 3 rows -->
          <div class="form-group">
            <input placeholder="Street Address" type="text" class="form-control" id="formStreet">
          </div>
          <!-- one -->
          <div class="form-group">
            <input placeholder="Address Continued" type="text" class="form-control" id="formStreet2">
          </div>
          <!-- two -->
          <div class="row">
            <!-- row that will hold two columns -->
            <div class="col-md-6">
              <div class="form-group">
                <input placeholder="City" type="text" class="form-control" id="formCity">
              </div>
            </div>
            <!--end col 1-->
            <div class="col-md-6">
              <div class="form-group">
                <input placeholder="Zip Code" type="text" class="form-control" id="formZip">
              </div>
            </div>
            <!-- end col 2 -->
          </div>
          <!-- end row that holds 2 columns -->
        </div>
        <!-- three -->
        <!-- end col with three rows -->
        <div class="col-md-6">
          <div class="form-group">
            <input placeholder="Special Instructions" type="text" class="form-control" id="formInstructions">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="date" id="formDate">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="time" id="formTime">
            </div>
          </div>
        </div>
      </div>
      <!--  col-md-6   -->
      <div class="row">
        <div class="col-md-12">
          <label>
            <input type="checkbox" value="I have read and accept the policies listed." id="formPolicy" class="central"> I have read and accept the policies listed.
          </label>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary central" id="formSubmit"  data-toggle="modal" data-target="#myModal">Order Now!</button>
      </div>
  </form>
  </div>
</div>

{{>modal}}
{{>footer}}