{{>header}} {{!-- Name email address zip gate code request color gender policiesCheck --}}
<div class="container pageContent">
  <form class="container" id="orderForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" placeholder="Your name" id="formName">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="color">Color</label>
          <input type="color" class="form-control" placeholder="Your theme color" value="#FC1F8E" id="formColor">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Email Adress</label>
          <input type="email" class="form-control" id="formEmail" placeholder="Your e-mail address">
        </div>
      </div>
      <!--  col-md-6   -->

      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="tel" class="form-control" id="formPhone" placeholder="Your phone number">
        </div>
      </div>
      <!--  col-md-6   -->
    </div>
    <!--  row   -->


    {{!--
    <div class="row"> --}}
      <!-- Outer row for group -->
      <div class="row">
        <!-- Row with top address and special contains other rows -->
        <div class="col-md-6">
          <!-- Col with 3 rows -->
          <div class="form-group">
            <label for="text">Street Address</label>
            <input type="text" class="form-control" id="formStreet" placeholder="Your Address">
          </div>
          <!-- one -->
          <div class="form-group">
            <label for="text">Address Continued</label>
            <input type="text" class="form-control" id="formStreet2" placeholder="Address Line 2">
          </div>
          <!-- two -->
          <div class="row">
            <!-- row that will hold two columns -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="text">City</label>
                <input type="text" class="form-control" id="formCity" placeholder="City">
              </div>
            </div>
            <!--end col 1-->
            <div class="col-md-6">
              <div class="form-group">
                <label for="text">Zip Code</label>
                <input type="text" class="form-control" id="formZip" placeholder="Zipcode">
              </div>
            </div>
            <!-- end col 2 -->
          </div>
          <!-- end row that holds 2 columns -->
        </div>
        <!-- three -->
        <!-- end col with three rows -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="text">Special Instructions</label>
            <input type="text" class="form-control" id="formInstructions" placeholder="Instructions" style="min-height: 188px">
          </div>
        </div>
      </div>
      <!--  col-md-6   -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="example-date-input">Date</label>
            <input class="form-control" type="date" value="2011-08-19" id="formDate">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="example-time-input">Time</label>
            <input class="form-control" type="time" value="13:45:00" id="formTime">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>
            <input type="checkbox" value="I have read and accept the policies listed." id="formPolicy" class="central"> I have read and accept the policies listed.
          </label>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary central" id="formSubmit">Order Now!</button>
      </div>
  </form>
  </div>
</div>
{{>footer}}