{{>header}}
<div class="row">
    <div class="col-md-12">
        <h1>PRICING</h1>
        <p>Most yard greetings are a flat rate of $95.00 in the Kingwood and Humble areas, for a 24 hour period. Some out of area locations can be accommodated, please call for information and pricing.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>RENTAL & RESERVATION POLICIES</h1>
            <ol>
                <li>Payment is required at the time of booking in order to confirm/hold your reservation/date.</li>
                <li>Payment is required at the time of booking in order to confirm/hold your reservation/date.</li>
                <li>For the safety of everyone and children, please do not allow anyone to play on or around the lawn    greetings signs.  Our display items WILL NOT safely support the weight of a child or adult        leaning, sitting or playing on it.  Please discourage all persons from playing on or around the    display.</li>
                <li>Do not remove or harm the signs.
​</li>
                <li>Please do not throw lawn display items into trash cans, or vandalize our signs.  Even if you do not like the display gift given to you, these items are our property.  It is best to notify the honoree to not harm the signs, as you are still responsible for it.</li>
                <li>Please protect our signs from animals, lawn mowers, weed eaters and any other damaging equipment.
​</li>
                <li>Do not attach balloons to the yard bling signs, as damage may occur.</li>
                <li>If you have a yard company coming, please arrange for them to come before we set up.</li>
                <li>We ask you to please NOT pull the signs from the ground.
​</li>
                <li>No refunds will be given for circumstances that prevent us from setting up the display out of our control.</li>
            </ol>
        <h3>*By placing an order and booking with Kingwood/Humble Yard Bling,  you agree to all policies stated here.</h3>
    </div>
</div>

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
  {{>footer}}
