 ::-webkit-scrollbar { 
    background-color: #ffd871; 
}   
  ::-webkit-scrollbar-track {
    background-color: white;
    border: #FFD871 thin solid;
}
  ::-webkit-scrollbar-thumb {
    background-color: #ffd871
}
.pageContent {
  overflow-y: auto;
} 
.panel-title {
  font-family: 'Cinzel', serif !important;
  font-weight: bold;
  font-size: 1.8em;
}
h4.panel-title > a:hover, h4.panel-title > a:active, h4.panel-title > a:focus {
  color: #FC1F8E;
  text-decoration: none;
}

.panel-collapse .panel-body ul {
    width: 100%;
    padding-right: 15px;
    height: 99%;
}
#accordion ul {
  list-style: none;
}
#accordion li {
  float: left;
  margin: 3rem 4rem;
}