/***** WEB SITE COLORS *****/


/*PINK: #FC1F8E Yellow: #FFD871 soft pink: #ffd9f2
/***** OTHER *****/

.menu {
    padding-left: 20 px;
}

.pageContent {
    height: 100vh;
    width: 90%;
    background-color: white;
}


/***** HEADER *****/

.navbar-inverse {
    border-bottom: #FFD871 thick solid;
}

#company {
    line-height: 2rem;
    font-family: 'Cinzel', serif;
    font-size: 2.2em;
    font-weight: bold;
    color: #FC1F8E;
    margin-right: 30em;
    margin-left: 1.6em;
    width: 50%;
}

#blingYard {
    margin-left: 10em;
    color: white;
    font-size: 1em;
    font-family: 'Bad Script', cursive;
}

div.navbar-header {
    position: absolute;
    left: 1.3%;
    top: 20%;
}


/***** NAVIGATION BAR *****/

.navbar {
    min-height: none !important;
    margin-bottom: 0 !important;
}

#navbar {
    border: thick black solid;
    border-top: thick white solid;
    padding: .9rem 5rem;
    background-color: #FC1F8E;
    left: 20%;
    width: 65%;
    top: 4rem;
    position: relative;
    font-size: 1.25rem;
    z-index: 100;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#navbar:after {
    left: -.4%;
    top: -6%;
    height: 60%;
    content: '';
    display: block;
    position: absolute;
    border-right: thick solid white;
    border-left: thick solid white;
    width: 100.8%;
}

.nav>li {
    padding: 0 1.1%;
    font-size: 1.5rem;
}

a.menu-color {
    z-index: 10;
    color: white !important;
}

div.container-fluid:not(#footer) {
    background-color: black;
    padding: 1.25em 0 1.25em 0;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    border: 5px solid #FC1F8E;
    width: 50%;
    margin: auto;
}

/********************************
            INDEX PAGE
*********************************/

div #contact-and-affiliates {
    width: 960px;
    max-width: 100%;
    margin: 5em 0 5em 14em;
    color: black;
}

.skipTheCard {
    text-align: center;
    margin-top: 1.5em;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    font-size: 3em;
    color: #FC1F8E;
}


/***** CONTACT US COLUMN *****/

.contactUs-column {
    margin-bottom: 1em;
    width: 480px;
    max-width: 100%;
    float: left;
}

#contact-us {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 2.25em;
}


/** phone icon **/

.fa.fa-phone-square {
    font-size: 1.5em;
}


/** phone number **/



/** email icon **/
i.fa.fa-envelope {
    font-size: 3em;
}

/** email address **/

/** facebook icon **/
.fa.fa-facebook-official {
    font-size: 3em;
}

/** facebook url **/
.facebook-address {
    text-align: center;
    margin-top: 4em;
}

/***** AFFILIATES *****/
.affiliates-column {
    margin-bottom: 10em;
    max-width: 480px;
    float: right;
}
#affiliates {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 2.25em;
}

/** Accordian panel **/
.panel-group {
    margin: 5% auto;

}
#footer {
    position: fixed;
    bottom: 0vh;
    left: 40%;
    text-align: center;
    color: black !important;
    background-color: transparent;
}
/********************************
        GREETING INDEA PAGE
*********************************/

/********************************
    PRICING & POLICIES PAGE
*********************************/
.pricing {
    margin: 5em 0 5em 5em;
    max-width: 750px;
}
.policies {
    max-width: 750px;
    margin: 0 0 3em 5em;
}
.headers {
    font-family: 'Cinzel',
    serif;
}